<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Contact - COMP90024 Team 35</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Page Icons  -->
  <link href="../static/img/unimelb.jpg" rel="icon">
  <link href="../static/img/unimelb.jpg" rel="unimelb-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Web Name: Instant
    Web URL: https://templatemag.com/instant-bootstrap-personal-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index">COMP90024 - Team35</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index">Home</a></li>
        <li><a href="team">Team</a></li>
        <li><a href="works" class="smoothscroll">Works</a></li>
        <li class="active"><a href="contact" class="smoothscroll">Contact</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>


<div id="contactwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>Any Questions?</h4>
        <h1>CONTACT US</h1>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>

<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="centered">Contact Form</h2>

        <form class="contact-form php-mail-form" role="form" action="../static/contactform/contactform.php" method="POST">

          <div class="form-group">
            <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" >
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
            <div class="validate"></div>
          </div>

          <div class="form-group">
            <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
            <div class="validate"></div>
          </div>

          <div class="loading"></div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>

          <div class="form-send">
            <button type="submit" class="btn btn-large">Send Message</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<div id="social">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-2">
        <a href="#"><i class="fa fa-dribbble"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="#"><i class="fa fa-facebook"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="col-lg-2">
        <a href="#"><i class="fa fa-tumblr"></i></a>
      </div>

    </div>
  </div>
</div>

<div id="copyrights">
  <div class="container">
    <p>
      &copy; Copyrights <strong>Instant</strong>. All Rights Reserved
    </p>
    <div class="credits">
      <!--
        You are NOT allowed to delete the credit link to TemplateMag with free version.
        You can delete the credit link only if you bought the pro version.
        Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/instant-bootstrap-personal-template/
        Licensing information: https://templatemag.com/license/
      -->
      Created with Instant template by <a href="https://templatemag.com/">TemplateMag</a>
    </div>
  </div>
</div>
<!-- / copyrights -->

<!-- JavaScript Libraries -->
<script src="../static/lib/jquery/jquery.min.js"></script>
<script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/lib/php-mail-form/validate.js"></script>

<!-- Web Main Javascript File -->
<script src="../static/js/main.js"></script>

</body>
</html>
