.ant-row {
  margin-bottom: 1rem;
}

.ant-row .ant-card {
  margin: 0.5rem;
}

.clickable {
  cursor: pointer;
}

.collapsible-section {
  display: flex;
  align-items: center;
}

.collapsible-section .collapse-btn.ant-btn {
  width: 1rem;
  background: rgba(163, 163, 163, 1);
  border: 0;
  border-radius: 0;
  color: white;
}

.ant-card-body {
  height: 400px;
}

.ant-card.ant-card-type-inner {
  height: auto;
}

.ant-card.ant-card-type-inner .ant-card-body {
  height: auto;
}

.anticon.map--fullScreen,
.filter.map--fullScreen {
  position: absolute;
  z-index: 1;
  right: 1rem;
  padding: 4px 0;
  font-size: 1.5rem;
  height: auto;
  color: rgb(214, 214, 214);
}

.ant-popover-title {
  padding: 8px 16px;
}

.ant-popover-title h3 {
  margin: 0;
}
