{% raw %}
#!/usr/bin/env bash
{% endraw %}


declare -a nodes=({{ master_ip }} {{ slave1_ip }} {{ slave2_ip }})
declare -a port=5984
export master_node={{ master_ip }}
export master_port=5984
{% raw %}
export size=${#nodes[@]}
{% endraw %}
export user={{ couchdb_user }}
export pass={{ couchdb_password }}


for (( i=0; i<${size}; i++ )); do
  curl -X POST "http://${user}:${pass}@localhost:${port}/_cluster_setup" -H 'Content-Type: application/json' \
    -d "{\"action\": \"enable_cluster\", \"bind_address\":\"0.0.0.0\", \"username\": \"${user}\", \"password\":\"${pass}\", \"node_count\":\"${size}\"}"
done

sleep 10


for (( i=0; i<${size}; i++ )); do
  if [ "${nodes[${i}]}" != "${master_node}" ]; then
    curl -X POST -H 'Content-Type: application/json' http://${user}:${pass}@127.0.0.1:${master_port}/_cluster_setup \
      -d "{\"action\": \"enable_cluster\", \"bind_address\":\"0.0.0.0\", \"username\": \"${user}\", \"password\":\"${pass}\", \"port\": 5984, \"node_count\": \"${size}\", \
           \"remote_node\": \"${nodes[${i}]}\", \"remote_current_user\": \"${user}\", \"remote_current_password\": \"${pass}\"}"
    curl -X POST -H 'Content-Type: application/json' http://${user}:${pass}@127.0.0.1:${master_port}/_cluster_setup \
      -d "{\"action\": \"add_node\", \"host\":\"${nodes[${i}]}\", \"port\": 5984, \"username\": \"${user}\", \"password\":\"${pass}\"}"
  fi
done

sleep 10

curl -X POST "http://${user}:${pass}@${master_node}:${master_port}/_cluster_setup" -H 'Content-Type: application/json' -d '{"action": "finish_cluster"}'

curl http://${user}:${pass}@${master_node}:${master_port}/_cluster_setup

for node in "${nodes[@]}"; do  curl -X GET http://${user}:${pass}@${node}:${port}/_membership; done